#ignore garbage files from tex files...
*.pdf
*.log
*.aux
*.idx
*.lof
*.lot
*.out
*.gz
*.toc
*.loa
*.dvi
*.blg
*bibexport.bib

#Mac Garbage
.DS_Store

#ignored directories
notebooks/media/
ppt/

#notebooks ignored (this may change)
*.ipynb
